<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 复杂查询语句写在这里，其他简单语句可以用注解 -->
<mapper namespace="com.sc.mapper.FlightCarbinInfoMapper">
	<!-- 批量删除 -->
    <delete id="deleteByFids" parameterType="java.util.List">
        delete flightcarbininfo
        where fid in
        <foreach item="fid" collection="list" open="(" close=")" separator=",">
            #{fid}
        </foreach>
    </delete>
</mapper>